@media (prefers-color-scheme: dark) {
    body:empty {
        background-color: #161616;
    }
}

@media (prefers-color-scheme: light) {
    body:empty {
        background-color: #F8F9FA;
    }
}


